*{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
body {
	font-family: Helvetica;
	margin: 0;
	padding: 0;
	background: #07020D;

}
a {
	text-decoration: none;
	color: #FFFFFA;

}
a:hover{
	color: #574AE2;
}

/*   */
body{
	background: #07020D;
}
.space-span{
	display: block;
	width: 100%;
	background: #FEFFFE;
}
.space-span-50{
	height: 50px;
}
.white-body{
	display: block;
	width: 100%;
	background: #FEFFFE;
}