.footer{
	display: block;
	width: 70%;
	padding: 25px 15%;
}
.footer__logo{
	width: 100%;
	display: block;
	padding-top: 20px;
	text-align: center;
}
.footer__wrap{
	display: flex;
	align-items: flex-start;
}
.footer__desc{
	display: inline-block;
	width: 49%;
}
.footer__contact{
	display: inline-block;
	width: 49%
}
.footer_contact-link{
	display: block;
	width: 100%;
	text-align: right;
}