.top-nav {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
} 
.top-nav__content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	line-height: 25px;
}
.top-nav__link {
	font-size: 1.2em;
	padding: 15px 20px;
}
.top-nav__logo{
	font-size: 1.5em;
}
#link-pageup{
	display: none;
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 35px solid #FFD700;
}
.link-pageup_hidden{
	display: none;
}
.link-pageup_visible {
	display: block;
}