.magazine{
	display: block;
	width: 100%;
	padding-bottom: 30px;
}
.magazine__heading{
	display: block;
	padding: 40px 0 30px 0;
	font-size: 1.5em;
	text-align: center;
}
.magazine-wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	box-sizing: border-box;
}
.magazine-wrap__item-box{
	display: inline-block;
	width: 320px;
	margin: 10px;
	overflow: hidden;
	position: relative;
	padding-bottom: 40px;
}
.magazine-wrap__item-img{
	width: 100%;

}
.magazine-wrap__item-property{
	display: flex;
	justify-content: center;
	width: 100%;
}
.magazine-wrap__item-parametr{
	display: inline-block;
	padding: 5px 10px;
	font-size: 0.8em;
}
.magazine-wrap__item-heading{
	display: block;
	padding: 5px;
}
.magazine-wrap__item-description{
	display: block;
	padding: 5px
}
.magazine-wrap__item-a-full{
	display: block;
	position: absolute;
	text-align: center;
	width: 100%;
	margin: 5px 0;
	padding: 5px 0;
	bottom: 0;
}
.magazine__link-openall{
	display: block;
	width: 200px;
	margin-top: 20px;
	margin-left: calc(50% - 135px);
	text-align: center;
	padding: 10px 40px;
}