.magazine{
	background: #FEFFFE;
}
.magazine-wrap{
	background: #FEFFFE;
}
.magazine-wrap__item-box{
	border: 1px #aaa solid;
	background: #ddd;
	box-shadow:  0 0 5px #aaa;
	transition: box-shadow .3s ease .1s;
}
.magazine-wrap__item-box:hover{
	box-shadow: 0 0 15px #222A68;
}
.magazine-wrap__item-img{
	box-shadow: 0 0 15px #222;
}
.magazine-wrap__item-img:hover{
	cursor: url(zoom.png), pointer;
}
.magazine-wrap__item-heading{
	font-size: 20pt;
}
.magazine-wrap__item-description{
	font-size: 14pt;
}
.magazine-wrap__item-a-full{
	color: #FFF;
	background: #574AE2;
	transition: all .35s ease;
}
.magazine-wrap__item-a-full:hover{
	color: #FFF;
	background: #3E8914;
	box-shadow: 0 0 0 2px #fff, 0 0 0 5px #3E8914;
}
.magazine__link-openall{
	background: #574AE2;
	border-radius: 3px;
	transition: all .3s ease;
}
.magazine__link-openall:hover{
	color: #FFF;
	background: #3E8914;
	box-shadow: 0 0 0 2px #fff, 0 0 0 5px #3E8914;
}