.header {

}
.header__content{
	display: block;
	position: relative;
}
.header__logo{
	display: block;
	position: absolute;
	text-align: center;
    top: calc(50% - .5em);
    width: 100%;
    -webkit-margin-before: 0px;
    -webkit-margin-after:  0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.header__arrow-down{
	position: absolute;
	bottom: 10px;
	left: calc(50% - 40px);
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 25px solid #FFD700;
}
.header__arrow-down:hover{
	cursor: pointer;
}
.header__tips-down{
	position: absolute;
	bottom: 45px;
	text-align: center;
	display: block;
	width: 100%;
	font-size: 12pt;
}