.contact{
	display: block;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.contact__description{
	display: block;
	width: 70%;
	margin-left: 15%;
	text-align: center;
}
.contact__wrap{
	width: 70%;
	margin-left: 15%;
	padding-top: 30px;
}
.contact__message__block{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	margin: 5px 0;
}
.contact__message__input{
	padding: 5px;
	font-size: 14pt;
	display: inline-block;
	width: 250px;
}
.contact__message__input-desc{
	padding: 5px;
	font-size: 14pt;
	width: 200px;
	display: inline-block;
}
.contact__submit-link{
	display: block;
	width: 200px;
	margin-top: 20px;
	margin-left: calc(50% - 135px);
	text-align: center;
	padding: 10px 40px;
}
.contact__answer-send{
	display: none;
	text-align: center;
	padding-top: 30px;
}
.contact__answer-send_success{
	display: block;
}
.contact__answer-send_error{
	display: block;
}