.contact{
	background: #FEFFFE;
}
.contact__submit-link{
	background: #574AE2;
	border-radius: 3px;
	transition: all .3s ease;
}
.contact__submit-link:hover{
	color: #FFF;
	background: #3E8914;
	box-shadow: 0 0 0 2px #fff, 0 0 0 5px #3E8914;
	cursor: pointer;
}
.contact__tips-error{
	display: none;
}
.contact__tips-error_visible{
	display: block;
	width: 100%;
	text-align: center;
	color: red;
	font-size: 10pt;
	padding: 10px;
}
.contact__message__input_success{
	box-shadow: 0 0 4px green;
}
.contact__answer-send_success{
	color: #3E8914;	
}
.contact__answer-send_error{
	color: red;
}