
.create-panel{
	display: none;
	width: 100%;
	padding-bottom: 50px;
}
.create-panel_visible{
	display: block;
}
.create-panel__box{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.create-panel__select{
	padding: 5px;
}
.create-panel p{
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}
.create-panel__box-item{
	display: block;
	width: 100%;
	text-align: center;
	padding: 5px 0;
}
.create-panel__box-item input{
	padding: 5px;
	margin-left: 10px;
}
.create-panel__box-item textarea{
	padding: 3px;
	margin-left: 10px;
}
.create-panel__box-item button{
	cursor: pointer;
}
.create-panel__create-link_hidden{
	display: none;
}
.create-panel__create-link_visibled{
	display: block;
	padding: 5px 15px;
	color: white;
	background: green;
	margin: 20px 0;
	width: 200px;
	margin-left: calc(50% - 107px);
	text-align: center;
}
.create-panel__create-link_visibled:hover{
	color: white;
	cursor: pointer;
}