.admin-panel{
	display: block;
	width: 100%;

}
.admin-panel h2{
	padding: 30px 0;
	text-align: center;
}

.login-panel{
	display: block;
	width: 100%;
}
.login-panel__box{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	padding: 50px 10%;
	text-align: center;
}
.login-panel__header{
	padding-bottom: 30px;
}
.login-panel__span{
	display: inline-block;
	width: 100%;
}
.login-panel__span_error{
	color: red;
}
.login-panel__input{
	display: inline-block;
	padding: 5px;
	width: 50px;
	min-width: 300px;
	margin: 5px 0;
}
.login-panel__submit{
	width: 100px;
	text-align: center;
	padding: 5px 15px;
}
.admin-panel__nav{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
}
.admin-panel__nav-link{
	display: inline-block;
	padding: 10px 20px;
	margin: 5px 10px;
}