.admin-panel__nav-link{
	background: #574AE2;
	border-radius: 3px;
	transition: all .3s ease;
}
.admin-panel__nav-link:hover{
	color: #FFF;
	background: #3E8914;
	box-shadow: 0 0 0 2px #fff, 0 0 0 5px #3E8914;
}