.product{
	display: block;
	width: 70%;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 30px;
}
.product__wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content:: center;
	width: 100%;
}
.product__img-container{
	display: inline-block;
	width: 100%;
	padding-right: 10px;
	box-sizing: border-box;
}
.product__img{
	width: 100%;
}
.product__info{
	display: inline-block;
	width: 49%;
	min-width: 360px;
	box-sizing: border-box;
}
.product__disabled{
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}
.product__disabled-info{
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}
.product__price{
	display: block;
	width: 100%;
	text-align: right;
	padding: 20px 0;
}
.product__price-summ{
	padding: 5px;
	margin-right: 15px;
}
.product__parametrs{
	display: block;
	width: 49%;
	min-width: 360px;
	box-sizing: border-box;
	margin: 5px;
}
.product__parametrs-tr{
	display: block;
	width: 100%;
	border-bottom: solid 1px #ccc;
	box-sizing: border-box;
	padding: 5px;
}
.product__parametrs-td{
	display: inline-block;
	width: 49%;
}