.delivery{
	display: block;
	width: 100%;
}
.delivery__header{
	padding: 40px 0 30px 0;
	font-size: 1.5em;
	text-align: center;
}
.delivery__wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.delivery__item{
	display: block;
	width: 70%;
	margin-left: 15%;
	padding: 0 0 20px 0;
}
.delivery__item-img{
	display: inline-block;
	width: 10%;
}
.delivery__item-description{
	display: inline-block;
	width: 89%;
	box-sizing: border-box;
	padding-left: 10px;
}
.delivery__item-header{
	margin-bottom: 10px;
}
.delivery__item-address{
	font-size: 12pt;
	margin-bottom: 10px;
}